<nav>
    <input type="radio" id="menu1" name="menu" class="menu-input">
    <label for="menu1">Anims</label>
    <div class="menu-section">
        <a href="/anims/keskekidonkoi">Keskekidonkoi</a>
        <a href="/anims/montpartasse">Montpartasse</a>
    </div>

    <input type="radio" id="menu2" name="menu" class="menu-input">
    <label for="menu2">Vocal</label>
    <div class="menu-section">
    </div>

    <input type="radio" id="menu3" name="menu" class="menu-input">
    <label for="menu3">Meta</label>
    <div class="menu-section">
    </div>
</nav>