{%- assign pages = site.pages | where:"layout","game" -%}
<nav>
    {%- assign all = pages | map: "game" | map: "genres" -%}
    {%- for e in all -%}
    {%- assign options = options | concat: e -%}
    {%- endfor -%}
    {%- assign options = options | compact | uniq | sort -%}
    <div class="menu-section-title">Animations</div>
    <div class="menu-section">
        <a href="/search">Voir toutes</a>
        {%- for option in options -%}
        <a href="/search?genre={{ option }}">{{ option }}</a>
        {%- endfor -%}
    </div>
</nav>