<nav>
    <input type="radio" id="menu1" name="menu" class="menu-input">
    <label for="menu1">Anims</label>
    <div class="menu-section">
        <a href="#">Les tassophiles</a>
        <a href="#" class="active">Eternalquiz</a>
        <a href="#">Bingoid</a>
        <a href="#">Bingoooooooooooooooooooooooooooooooooooooooooooid</a>
    </div>

    <input type="radio" id="menu2" name="menu" class="menu-input">
    <label for="menu2">Vocal</label>
    <div class="menu-section">
        <a href="#">Blabla</a>
    </div>

    <input type="radio" id="menu3" name="menu" class="menu-input">
    <label for="menu3">Meta</label>
    <div class="menu-section">
        <a href="#">Blabla</a>
    </div>
</nav>