$theme-redwood: #a75754;
$theme-brown: #975b35;
$theme-mustard: #f3b64e;
$theme-beige: #f8d9a5;
$theme-white: #fdf1e2;
$theme-chestnut: #7f3300;
$theme-yellowish: #e9b376;

$bg-color: $theme-redwood;
$font-size: 16px;

$logo-width: 127px;

$header-bg-color: $theme-brown;
$header-font-color: $theme-mustard;
$header-size: $font-size * 2;

$menu-width: $logo-width + $header-size / 2;

$footer-size: $font-size * 2;
$footer-img: url('/assets/img/floor.png');
$footer-font-size: $font-size * 0.75;