$theme-redwood: #a75754;
$theme-brown: #975b35;
$theme-mustard: #f3b64e;
$theme-beige: #f8d9a5;
$theme-white: #fdf1e2;

$bg-color: $theme-redwood;
$font-size: 16px;

$logo-width: 127px;

$header-bg-color: $theme-brown;
$header-font-color: $theme-mustard;
$header-size: $font-size * 2;
