#page-content {
    a {
        color: inherit;
    }

    dl#game-info {
        column-count: 2;
        column-gap: 2rem;

        & > div {
            break-inside: avoid;

            & > dt {
                font-weight: bold;
                margin: 0.5rem 0;
            }
            & > dd {
                margin-left: 0;
            }
        }
    }

    #game-texts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;

        & > .rp {
            & > .speech {
                margin: 1rem 0;
            }
        }
    }

    .tooltip {
        padding: 1rem;
        margin: 1rem 0;
        border-radius: 1rem;

        &:before {
            margin: .5rem;
        }

        &.success {
            background: lightgreen;

            &:before {
                content: "✅"
            }
        }

        &.info {
            background: lightblue;

            &:before {
                content: "ℹ️"
            }
        }

        &.warn {
            background: lightyellow;
            
            &:before {
                content: "⚠️"
            }
        }

        &.alert {
            background: lightpink;

            &:before {
                content: "❌"
            }
        }
    }
}
