#page-content {
    a {
        color: inherit;
    }

    dl#game-info {
        column-count: 2;
        column-gap: 2rem;

        & > div {
            break-inside: avoid;

            & > dt {
                font-weight: bold;
                margin: 0.5rem 0;
            }
            & > dd {
                margin-left: 0;
            }
        }
    }

    #game-texts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;

        & > .rp {
            & > .speech {
                margin: 1rem 0;
            }
        }
    }
}
