---
---

@import "vars";
@import "fonts";

* {
    box-sizing: border-box;
}

html {
    background-color: $bg-color;
    font-size: $font-size;
    font-family: text;
}

body {
    margin: 0 auto;
}

main {
    display: flex;
}

#content {
    background-color: $theme-beige;
    width: calc(100% - #{$menu-width} - 2 * #{$header-size});
    min-height: 500px;

    color: $theme-brown;

    margin: $header-size;
    margin-bottom: $header-size * 2;
    padding: $header-size / 2;

    & pre {
        white-space: pre-wrap;
    }
}

.icon {
    &.small {
        height: 1rem;
    }

    &.medium {
        height: 2rem;
    }

    &.large {
        height: 4rem;
    }
}

#page-content {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        font-family: headings;
    }
}

@import "sections";
@import "responsive";
