---
---

@import "vars";
@import "fonts";

* {
    box-sizing: border-box;
}

html {
    background-color: $bg-color;
    font-size: $font-size;
    font-family: text;
}

body {
    margin: 0 auto;
}

@import "sections";
@import "responsive";