<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    <link rel="stylesheet" href="/assets/css/global.css">

    <meta name="theme-color" content="#975b35">

    <meta property="article:modified_time" content="{{ site.time | date: '%FT%T%z' }}">
    <meta property="og:title" content="{{ page.title }} - {{ site.title }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ site.url }}/assets/img/logo.png">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ page.title }} - {{ site.title }}">
    <meta name="twitter:description" content="{{ site.description }}">
    <meta name="twitter:image" content="{{ site.url }}/assets/img/logo.png">
    <meta name="twitter:image" content="{{ site.url }}/assets/img/icons/tasses/TasseBlanche.svg">
</head>
<body>
    {% include header.html %}
    <main>
        {% include navigation.html %}
        <div id="content">
            {{ content }}
        </div>
    </main>
    {% include footer.html %}
    <script async defer src="/assets/js/tagline.js"></script>
</body>
</html>