---
layout: default
---

<div id="page-content">
    <h1>{{ page.title }}</h1>

    <dl id="game-info">
        {% if page.game.description != null %}
        <div>
            <dt>Description</dt>
            <dd>{{ page.game.description | newline_to_br }}</dd>
        </div>
        {% endif %}

        {% if page.game.genre != null %}
        <div>
            <dt>Genre</dt>
            <dd>{{ page.game.genre }}</dd>
        </div>
        {% endif %}

        {% if page.game.players != null %}
        <div>
            <dt>Joueurs</dt>
            <dd>{{ page.game.players }}</dd>
        </div>
        {% endif %}

        {% if page.game.time != null %}
        <div>
            <dt>Temps de jeu</dt>
            <dd>{{ page.game.time }}</dd>
        </div>
        {% endif %}

        {% if page.game.authors.size > 0 %}
        <div>
            <dt>Auteurs</dt>
            <dd>{{ page.game.authors | join: ", " }}</dd>
        </div>
        {% endif %}

        {% if page.game.support != null %}
        <div>
            <dt>Support</dt>
            <dd>
                {{ page.game.support.where }}
                {% if page.game.support.link != null %} (<a href="{{ page.game.support.link }}">Lien</a>){% endif %}
            </dd>
        </div>
        {% endif %}
    </dl>

    <div id="game-texts">
        <div>
            <h2>Règles du jeu</h2>
            {{ content }}
        </div>

        {% if page.rp != null %}
        <div class="rp">
            <h2>Roleplay</h2>

            {% for block in page.rp %}
            {% case block.type %}
            {% when "speech" %}
            <div class="speech">
                <b>{{ block.actor }}</b>{% if block.action != null %}<i>, {{ block.action }}</i>{% endif %}<br>
                <div class="speech-bubble">{{ block.text }}</div>
            </div>
            {% when "narrator" %}
            <p><i>{{ block.text }}</i></p>
            {% endcase %}
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>