.accordion {
    background-color: $theme-white;
    padding: 1rem;

    & > input {
        display: none;

        & + label {
            display: block;

            font-family: headings;

            height: $header-size;
            line-height: $header-size;

            cursor: pointer;
            padding: 0 $header-size / 3;

            &:before {
                content: "▼";
                margin: 0.5rem;
            }
        }

        & + label + div {
            display: none;
        }

        &:checked + label {
            &:before {
                content: "▲";
            }

            & + div {
                display: block;
            }
        }
    }
}
