.accordion > input {
    display: none;

    & + label {
        display: block;

        font-family: headings;

        height: $header-size;
        line-height: $header-size;

        border-bottom: 2px solid $theme-brown;

        cursor: pointer;
        padding: 0 $header-size / 3;

        &:before {
            content: "\\/";
            margin: 0.5rem;
        }
    }

    & + label + div {
        display: none;
    }

    &:checked + label {
        &:before {
            content: "/\\";
        }

        & + div {
            display: block;
        }
    }
}
