.accordion {
    background-color: $theme-white;

    & > input {
        display: none;

        & + label {
            display: block;

            font-family: headings;

            cursor: pointer;
            padding: 1rem;

            &:before {
                content: "▼";
                margin: 0.5rem;
            }
        }

        & + label + div {
            display: none;
        }

        &:checked + label {
            &:before {
                content: "▲";
            }

            & + div {
                display: block;
                padding: 0 1rem 1rem;
            }
        }
    }
}
