header {
    display: flex;
    background-color: $header-bg-color;

    height: $header-size;
    padding: 0 $header-size / 3;

    & > * {
        line-height: $header-size;
        vertical-align: middle;
    }

    #logo {
        margin-right: $header-size / 3;
    }

    #random-tagline {
        font-style: italic;
        color: $header-font-color;
    }

    #social-icons {
        flex-grow: 1;
        text-align: right;

        & > .icon {
            & > img {
                vertical-align: middle;
                height: $font-size;
            }

            & + .icon {
                margin-left: .5rem;
            }
        }
    }
}
