nav {
    width: $menu-width;

    & > .menu-section-title {
        background-color: $theme-beige;

        font-family: headings;
        color: $theme-brown;

        height: $header-size;
        line-height: $header-size;

        cursor: pointer;
        padding: 0 $header-size / 3;

        & + .menu-section {
            background-color: $theme-beige;
    
            & > a {
                display: block;
                padding: 0 $header-size / 3;
    
                height: $header-size;
                line-height: $header-size;
    
                color: $theme-brown;
                text-decoration: none;
    
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}
