@font-face {
    font-family: "headings";
    font-display: swap;
    src: url('/assets/fonts/headings/headings.woff2') format('woff2'),
         url('/assets/fonts/headings/headings.woff') format('woff'),
         url('/assets/fonts/headings/headings.ttf') format('truetype');
}
